Perform Chi-Square test for Bank Churn prediction (find out different patterns on customer leaves the bank) . Here I am considering only few columns to make things clear<br>

Import libraries

In [1]:
import numpy as numpy
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [6]:
churn_df = pd.read_csv('bank.csv')
churn_df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Now check the data for categorical variables because the chi square test works for the categorical values. Chi square test will check if the var is significantly impacting the outcome.

In [7]:
churn_df.dtypes

customer_id           int64
credit_score          int64
country              object
gender               object
age                   int64
tenure                int64
balance             float64
products_number       int64
credit_card           int64
active_member         int64
estimated_salary    float64
churn                 int64
dtype: object

Here we have 4 category predictors and one category response. Exited, the response column represnts customer left the bank or not.
### Before performig Ch-Square test we have to make sure data is label encoded.

In [10]:
label_encoder = LabelEncoder()
churn_df['country'] = label_encoder.fit_transform(churn_df['country'])
churn_df['gender'] = label_encoder.fit_transform(churn_df['gender'])

churn_df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10,0

### Chi-Square Test

In [11]:
from sklearn.feature_selection import chi2

In [12]:
X = churn_df.drop("churn", axis=1)
y = churn_df["churn"]

In [14]:
print(churn_df.columns)
chi_scores = chi2(X,y)
chi_scores

Index(['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure',
       'balance', 'products_number', 'credit_card', 'active_member',
       'estimated_salary', 'churn'],
      dtype='object')

(array([1.28730837e+02, 1.05403468e+02, 1.18532506e+01, 5.15399263e+01,
        2.30041748e+03, 3.27053797e+00, 7.15130278e+06, 5.05539429e+00,
        1.50040970e-01, 1.18199414e+02, 4.83508818e+04]),
 array([7.76680092e-30, 9.96353608e-25, 5.75607838e-04, 7.01557451e-13,
        0.00000000e+00, 7.05344899e-02, 0.00000000e+00, 2.45493956e-02,
        6.98496209e-01, 1.56803624e-27, 0.00000000e+00]))